body{
	border: 1rem solid;
	border-image: linear-gradient(to bottom, #E0A467, #E47F52, #D55325);
	border-image-slice: 10;
	background-color: #F3E2D0;
}
#container-fluid {
	width: 60%;
	margin: 2% auto;
	text-align: center;
}
header{
	margin: 5% 0;
}
div {
	margin: 6% 0;
}
h1,h2 {
	font-family: 'Ubuntu', sans-serif;
}
h1 {
	font-size: 7rem;
}
h2 {
	font-size: 2.5rem;
	margin-bottom: 2%;
}
.card-beige{
	background-color: #F7F6F2;
	padding: 5%;
	box-shadow:0px 5px 10px #0f0f0f;
}
.profil p {
	margin: 2% 0;
}
.portait {
	width: 280px;
	box-shadow: 2px 2px 100px #E0A467;
}
.col-sm-6{
	margin: 2% 0;
}
.text{
	padding-top: 2%;
	height: 100%;
	margin: 2%;
}
p {
	justify-content: center;
}
a {
	color: #E0A467;
	text-decoration: none;
	padding: 2%;
}
a:hover {
	color: #E47F52;
}
.btn {
	background-color: #D55325;
	padding: 2% 2%;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 2%;
	border-radius: 8px;
	box-shadow: 5px 5px 10px #E0A467;
}
.btn:hover {
	background-color: #ffffff;
	padding: 2% 2%;
	color:#D55325 ;
	text-decoration: none;
	margin-bottom: 2%;
}
.list-inline ul{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
}
.list-inline i{
	font-size: 3rem;
}

@media (max-width: 960px) {
	#container-fluid {
		width: 70%;
	}
	h1 {
	font-size: 6rem;
	}
	.portait {
	width: 240px;
	}
}

@media (max-width: 720px) {
	body{
		border: none;
	}
	.portait {
		width: 220px;
		box-shadow: none;
		border-radius: 50%;
	}
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2rem;
	}
	#container-fluid {
		width: 80%;
	}
	.card-beige{
	background-color: #F3E2D0;
	padding: 0;
	box-shadow:none;
}
}

@media (max-width: 540px){
	.portait {
		width: 180px;
	}
	.card-beige{
		margin: 15% 0;
	}
}
